# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
yarn.lock
package-lock.jsom

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/app/generated/prisma

# Testing files
cookies.txt
*.cookie

# Migration scripts (temporary)
migrate-*.sql

# Temporary files
*.tmp
*.temp
